// Specific CSS for your home-page
#main-title {
  font-family: 'Pacifico', cursive;
  color: white;
  font-size: 60px;
  }

.landing {
  font-family: 'Roboto', sans-serif;
  color: white;
  font-size: 24px;
}

.landing-search-bar {
  display: flex;
  justify-content: flex-start;
  margin-top: 50px;
}

.lading-inputs {
  margin-right: 70px;

  p {
    margin-bottom: 5px;
    color: white;
  }

  input {
    border-radius: 8px;
    width: 380px;
    margin-right: 40px;
  }
}
