<h1>All events</h1>

<div class="topnav">
  <a href="#contact">Contact</a>
  <input type="text" placeholder="Search..">
</div>

<ul>
  <% @events.each do |event| %>
    <li><%= event.title %> -- <%= event.date %></li>
  <% end %>
</ul>


<!--% TO INSERT IMAGE VIA CLOUDINARY iF IS A FORM  (PARTIAL):
 simple_form_for(article) do |f|
   f.input :photo, as: :file


 TO INSERT IMAGE VIA CLOUDINARY iF IS A FORM:
cl_image_tag @article.photo.key, height: 300, width: 400, crop: :fill
