<!--p>Find me in app/views/pages/home.html.erb</p!-->

<div class="banner">
  <div class="container">
    <h1 id='main-title'>Home Away From Home</h1>
    <p>A new way to find your way around, make new friends and discover the country</p>
    <p>Where are you from?</p>
    <input type="text" placeholder="Your country">
    <p>Where did you move to?</p>
    <input type="text" placeholder="Destination">
    <%= link_to "Submit", dashboard_path, class:"btn btn-primary" %>
</div>
