<!--p>Find me in app/views/pages/home.html.erb</p!-->

<div class="banner">
  <div class="container">
    <h1 id='main-title'>Home Away From Home</h1>
    <h2 class="landing">A new way to find your way around, make new friends and discover the country!</h2>
    <div class="landing-search-bar">
      <div class="lading-inputs">
        <p class="text-shadow">Where are you from?</p>
        <input type="text" placeholder="Your Country" class="form-control custom-select bg-white rounded shadow">
      </div>
      <div class="lading-inputs">
        <p class="text-shadow">Where did you move to?</p>
        <input type="text" placeholder="Destination" class="form-control custom-select bg-white rounded shadow">
      </div>
      <%= link_to "Submit", dashboard_path, class:"btn btn-primary" %>
    </div>
  </div>
</div>
