.banner {
  background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.2)), url(asset_path('homefriends.png'));
  background-size: cover;
  background-position: center;
  padding: 150px 100px;
  width: 100%;
  height: calc(100vh - 2.5rem);
  object-fit: scale-down;
}


//UI KIT LE WAGON BANNER IMAGE EVENT SHOW
.event-banner {
  background-size: cover;
  background-position: center;
  height: 280px;
  text-align: left;
  color: white;
  font-size: 48px;
  font-weight: bold;
  font-family: roboto, sans-serif;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  margin-bottom: 0px;
  background-repeat: no-repeat;
}
