.banner {
  background-image: (url(asset_path('homefriends.png')), linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)));
  background-size: cover;
  background-position: center;
  padding: 150px 100px;
  width: 100%;
  height: 94vh;
  object-fit: scale-down;
}

#main-title {
  font-family: 'Pacifico', cursive;
  color: white;
  font-size: 50px;
  }

p {
  font-family: 'Roboto', sans-serif;
  color: rgb(0, 0, 0);
}

//UI KIT LE WAGON BANNER IMAGE EVENT SHOW
.card-category {
  background-size: cover;
  background-position: center;
  height: 250px;
  display: flex;
  justify-content: left;
  z-index: -1;
  // align-items: center;
  text-align: left;
  color: white;
  font-size: 48px;
  font-weight: bold;
  font-family: roboto;
  padding-left: 70px;
  padding-top: 70px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 2px;
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-bottom: 0px;
}
