.btn-hafh {
  color: white;
  padding: 6px 24px;
  height: 38px;
  margin-top: 8px;
  margin-left: 30px;
  border-radius: 4px;
  background: $blue;
  transition: background 0.3s ease;
  text-decoration: none;
}

.btn-hafh:hover {
  text-decoration: none;
  color: white;
}
