.chatroom {
  background: white;
  margin-top: 9px;
  height: calc(100vh - 30px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;

  h1 {
    border-bottom: 1px solid $gray-200;
    margin-bottom: 0;
    padding: 1rem;
  }

  .messages {
    height: 100%;
    overflow: scroll;
    padding: 1rem;
  }

  #new_message {
    border-top: 1px solid $gray-200;
    padding: 1rem;

    .form-group {
      margin-bottom: 0;
    }
  }

  .btn-chatroom {
    color: white;
    padding: 8px 24px;
    height: 38px;
    margin-top: 8px;
    margin-left: 10px;
    border-radius: 4px;
    background: #393E5B;
    transition: background 0.3s ease;
  }

}

.msg-bubble {
  max-width: 450px;
  padding: 10px;
  margin: 15px;
  height: auto;
  border-radius: 15px;
  background: var(--left-msg-bg);
  background-color: rgb(199, 220, 228);
}

.msg-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.msg-info-name {
  margin-right: 10px;
  font-weight: bold;
}
.msg-info-time {
  font-size: 0.85em;
}

.left-msg .msg-bubble {
  border-bottom-left-radius: 0;
}

.right-msg {
  flex-direction: row-reverse;
}
.right-msg .msg-bubble {
  background: var(--right-msg-bg);
  color: #fff;
  border-bottom-right-radius: 0;
}
.right-msg {
  margin: 0 0 0 10px;
}
