.chatroom {
  background: white;
  margin-top: 9px;
  height: calc(100vh - 0px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;

  h1 {
    border-bottom: 1px solid $gray-200;
    margin-bottom: 0;
    padding: 1rem;
  }

  .messages {
    height: 100%;
    overflow: scroll;
    padding: 1rem;
  }

  #new_message {
    border-top: 1px solid $gray-200;
    padding: 1rem;

    .form-group {
      margin-bottom: 0;
    }
  }

  .btn-chatroom {
    color: white;
    padding: 8px 24px;
    height: 38px;
    margin-top: 8px;
    margin-left: 10px;
    border-radius: 4px;
    background: #393E5B;
    transition: background 0.3s ease;
  }

  .btn-chatroom:hover {
    background: #1BCB7F;
    color: white;
  }
}
