.event-popup-title {
  position: absolute;
  top: -20px;
  z-index: 1;
  background-color: white;
  max-height: max-content;
  border-radius: 10px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, .25);
}

.event-popup-title-new {
  position: absolute;
  top: -20px;
  z-index: 1;
  background-color: white;
  max-height: max-content;
  border-radius: 10px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, .25);
  display: flex;
}

.info-event {
  position: relative;
}

.big-div {
  position: relative;
}

.center-info {
  position: relative;
}

.participation-info {
  justify-content: end;
  text-align: right;
  color: gray;
  position: absolute;
  bottom: 0;
  right: 0;
}

.icon-click-back {
  height: 35px;
  width: 35px;
  // padding: 2px;
  margin-right: 5px;
  align-self: center;
}

.icon-click {
  height: 30px;
  width: 30px;
  // padding: 2px;
  margin-right: 5px;
}
