// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "chatroom";
@import "banner";
@import "map";
@import "event_card";
@import "grid";
@import "card";
@import "event_cards";
@import "button";
@import "message";
@import "footer";

body {
  position: relative;
  min-height: 100vh;
}

.content-wrap {
  padding-bottom: 2.5rem
}
