// This is just a basic style from the lecture***
.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.my-event-map {
  border-radius: 16px;
  box-shadow: 5px 10px 8px #888888;
}
