// This is just a basic style from the lecture***
.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.my-event-map {
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  border: #979DAC solid 1px;
}

// for the event details / event new / event edit
.main-container {
  display: flex;
}

.map-event {
  min-height: 400px;
  top: 0;
  margin: 12px;
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  border: #979DAC solid 1px;}

.sticky-map {
  position: sticky;
  border-radius: 8px;
  position: -webkit-sticky;
  top: 468px;
}

.parent-for-sticky-map {
  position: relative;
}
.dashboard-map {
  width: 605px;
  height: 313px;
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  border: #979DAC solid 1px;
}
