// This is just a basic style from the lecture***
.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

// for the event details / event new / event edit
.main-container {
  display: flex;
}

.map-event {
  min-height: 400px;
  top: 0;
  margin: 12px;
  border-radius: 5px;
}

.sticky-map {
  position: sticky;
  border-radius: 8px;
  position: -webkit-sticky;
  top: 452px;
}

.parent-for-sticky-map {
  position: relative;
}
