.attending {
  height: 235px;
  width: 885px;
  overflow: scroll;
}

.hosting {
  height: 235px;
  width: 885px;
  overflow: scroll;
}

.attending::-webkit-scrollbar {
  display: none;
}

.hosting::-webkit-scrollbar {
  display: none;
}

.flex-left {
  display: flex;
  justify-content: flex-start;

  img {
    height: 50px;
    width: 50px;
  }
}
