.attending {
  height: 235px;
  width: 885px;
  overflow: scroll;
}

.hosting {
  height: 235px;
  width: 885px;
  overflow: scroll;
}

.attending::-webkit-scrollbar {
  display: none;
}

.hosting::-webkit-scrollbar {
  display: none;
}
